.DS_Store
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cmake_install.cmake
ZERO_CHECK.vcxproj
.vs/
ZERO_CHECK.vcxproj.filters
*.sln
CMakeFiles/
*.vcxproj
*.filters
CMakeCache.txt
bin/
lib/
*.pdb
src/trackingx.dir/
*.user
tests/test_trackingx_detect.dir/
x64/
external/GLUtils.dir/
external/GLUtils_Test.dir/
tests/test_detection/test_trackingx_detect.dir/
tests/test_detection/test_detection.dir/
tests/test_camera/test_camera.dir/
tests/test_camera/out.csv
tests/test_camera/test.csv
tests/test_camera/test_cu.csv
scripts/
*.un~
external/glew/src/glew.dir/
external/glew/src/Release/
external/glfw/src/glfw.dir/
examples/gear_demo/src/GearTransmissionDemo.dir/Release/GearTran.955025D4.tlog/CL.write.1.tlog
examples/gear_demo/src/GearTransmissionDemo.dir/
