[submodule "external/gl_support"]
	path = external/gl_support
	url = https://github.com/rafael-radkowski/GLSupport
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
	branch = 0.9.7
